* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border-bottom: 1px solid #333;
}

canvas {
  width: 95%;
  height: 95%;
  border: 1px solid #333;
  margin: 0 auto;
}

footer > p {
  text-align: center;
}
