* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  margin: 0 0 10px;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  border-bottom: 1px solid #333;
}

canvas {
  width: 95%;
  height: 95%;
  border: 1px solid #333;
  margin: 0 auto;
  border-radius: 1em;
}

aside > p {
  display: block;
  text-align: center;
}

#game-over-display {
  position: fixed;
  top: 12em;
  left: 15em;
}

#game-over {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: red;
  font-size: 4em;
}

#reset {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 2em;
}

.hidden {
  display: none;
}
